*.egg-info
*.env
*.log
*.pyc
*.pyd
*.pyo
*.swp
.Python
.coverage
.dockerignore
.git
.gitignore
.mypy_cache
.pre-commit-config.yaml
.pytest_cache
.python-version
.ruff_cache
.venv
Dockerfile
__pycache__
compose.yaml
env
pytest.ini
tests
venv
