services:
  backend:
    build: .
    ports:
      - "8000:8000"
    env_file: .env
    depends_on:
      - db
    networks:
      - firstpass-network
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: firstpass
      POSTGRES_PASSWORD: password
      POSTGRES_DB: firstpass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - firstpass-network

networks:
  firstpass-network:
    driver: bridge

volumes:
  postgres_data:
